<div id="top" class="starter_container bg">
  <div class="follow_container">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="top-title"><%= t "foody" %></h2>

      <h2 class="white second-title" >
        <%= t "content_top" %>
      </h2>
      <h4>
        <%= button_to t("dangnhap"), new_user_session_path,
          class: "bttn-unite bttn-md bttn-primary second-title" %>
      </h4>
      <hr>
    </div>
  </div>
</div>
